config/*
dags/__pycache__/*
dags/connections/__pycache__/*
dags/connections/*.json
dags/connections/*.py
dags/data/__pycache__/*
dags/data/old_transform.py
logs/*
plugins/*
pyspark development/.ipynb_checkpoints/*
pyspark development/*.csv